*{font-family: 'Josefin Sans', sans-serif;}
*{letter-spacing: .05rem;}
*{text-decoration: none;}

body{
    background-color: rgb(224, 224, 224);
}

.fons{
    width: 60%;
    margin: auto;
    line-height: 1.4em;
    padding-top: 9%;
    padding-bottom: 5%;
}


.logo{
    display:flex;
    padding-top: 2%;
}

.logo img{
    margin-left: 2%;
    height: 90px;
    width: 90px;
    display: flex;
}

.logo h1{
    font-family: 'Josefin Sans', sans-serif;
    margin:auto;
    margin-top: 1%;
    color: white;

}
.logo ul{
    list-style-type: none;
    display: flex;
    padding-right: 2px;
    margin-right: 2%;
}
.logo li{
    padding-right: 8px;

}
.capcalera{
    background-color: rgb(77, 77, 77);
    width: 100%;
    position: fixed;
    top: 0;
}
.sessio{
    padding-top: 20px;
    padding-left: 20%;
    font-size: 20px;
}
.registre{
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 1%;
    color: white;

}
.navegador{
    background-image: url("../Projecte/Imatges/nav.png");  
    list-style-type: none;
    display: flex;
    padding-left: 16%;
    padding-top: 45px;
    color: white;
    margin-bottom: 0%;
    
}

ul.navegador li{
    margin-right: 30px;
    font:bold;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 25px;
}
ul.navegador li:hover{
    text-decoration-line: underline;
    color: gray;
    
}
ul.navegador a{
    font:bold;
    color:white;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
}

.producte{
    box-shadow: 1px 1px 10px #aaaaaa;
    margin: 2%;
}

.hosting h2{
    padding-bottom: 2%;
    border-bottom: solid 0.5px lightgray;
    font-size: 250%;
}

.hosting h4{
    padding-top: 2%;
    padding-bottom: 1%;;
    color: rgb(228, 146, 23);
    font-size: 180%;
}

.hosting p{
    width: 90%;
    font-size: 120%;
}

.taula_hosting .fila_principal td{
    padding-top: 3%;
    font-size: 120%;
    color: gray;
    padding-bottom: 2%;
    text-align: center;
}

.taula_hosting{
    width: 80%;
    margin-left: 5%;
    margin-bottom: 1%;
}

.taula_hosting2{
    width: 80%;
    margin-left: 5%;
    margin-bottom: 2%;
}

.taula_hosting2 .producte td{
    font-size: 150%;
    padding: 5%;
}

.taula_hosting2 .producte{
    margin-bottom: 2%;
}

.taula_hosting3{
    width: 80%;
    margin-left: 5%;
    margin-bottom: 2%;
}

.taula_hosting3 .producte td{
    font-size: 150%;
    padding: 5%;
}

.taula_hosting3 .producte{
    margin-bottom: 2%;
}

.taula_hosting4{
    width: 80%;
    margin-left: 5%;
    margin-bottom: 7%;
}

.taula_hosting4 .producte td{
    font-size: 150%;
    padding: 5%;
}

.taula_hosting4 .producte{
    margin-bottom: 2%;
}



.cloud h2{
    padding-bottom: 2%;
    border-bottom: solid 0.5px lightgray;
    font-size: 250%;
}

.cloud h4{
    padding-top: 2%;
    padding-bottom: 1%;;
    color: rgb(228, 146, 23);
    font-size: 180%;
}

.cloud p{
    width: 90%;
    font-size: 120%;
}


.taula_cloud .fila_principal td{
    padding-top: 3%;
    font-size: 120%;
    color: gray;
    padding-bottom: 2%;
    text-align: center;
}

.taula_cloud{
    width: 80%;
    margin-left: 5%;
    margin-bottom: 7%;
}

.taula_cloud .producte td{
    font-size: 150%;
    padding: 5%;
}

.taula_cloud .producte{
    margin-bottom: 2%;
}

.servidor h2{
    padding-bottom: 2%;
    border-bottom: solid 0.5px lightgray;
    font-size: 250%;
}

.servidor h4{
    padding-top: 2%;
    padding-bottom: 1%;;
    color: rgb(228, 146, 23);
    font-size: 180%;
}

.servidor p{
    width: 90%;
    font-size: 120%;
}


.taula_servidor .fila_principal td{
    padding-top: 3%;
    font-size: 120%;
    color: gray;
    padding-bottom: 2%;
    text-align: center;
}

.taula_servidor{
    width: 80%;
    margin-left: 5%;
    margin-bottom: 7%;
}

.taula_servidor .producte td{
    font-size: 150%;
    padding: 5%;
}

.taula_servidor .producte{
    margin-bottom: 2%;
}

.cms h2{
    padding-bottom: 2%;
    border-bottom: solid 0.5px lightgray;
    font-size: 250%;
}

.cms h4{
    padding-top: 2%;
    padding-bottom: 1%;;
    color: rgb(228, 146, 23);
    font-size: 180%;
}

.cms p{
    width: 90%;
    font-size: 120%;
}

.empreses{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    background-color: rgb(224, 224, 224);
    padding: 10px;
    margin-top: 20px;

}
.empreses > div{
    text-align: center;
    font-size: 30px;
}
.hp{
    height: 80px;
    width: 80px;
}
.ferraridiv{
    margin-bottom: 2%;
}
.ferrari{
    height: 110px;
    width: 200px;
}
.sun{
    padding-top: 4%;
    height: 60px;
    width: 50px;
}
.applediv{
    margin-bottom: 20px;
}
.apple{
    height: 70px;
    width: 60px;
}
.netapp{
    padding-top: 4%;
    height: 60px;
    width: 190px;
}
.ibm{
    height: 60px;
    width: 150px;
}
.luis_vuitton{
    height: 80px;
    width: 150px;
}

.balenciaga{
    height: 80px;
    width: 280px;
}

footer{
    width: 100%;
    padding-top: 40px;
    padding-bottom: 60px;
    height: auto;
    background-color:rgb(77, 77, 77);
    display: flex;
}
.contacte{
    justify-content: center;
    display: flex;
    margin: auto;
    text-align: left;
}
.contacte ul{
    list-style-type: none;
    color: rgb(224, 224, 224);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 15px;
}
.primer{
    list-style-type: none;
    color: rgb(224, 224, 224);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    padding-bottom: 5px;
    text-decoration: underline;
}
.direccio{
    padding-right: 100px;
}
.informacio{
    padding-right: 100px;
}   